<html>
    <head>
        <title>Filter</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script>
        angular.module("myApp", [])
            .controller('myController', ['$scope', function ($scope) {
    
                // JSON ARRAY OBJECT.
                $scope.names =
                [
                    { 'id': '1', 'name': 'Alpha', 'joinDate': '05/17/2015', 'age': 37 },
                    { 'id': '2', 'name': 'Bravo', 'joinDate': '03/25/2016', 'age': 27 },
                    { 'id': '3', 'name': 'Charlie', 'joinDate': '09/11/2015', 'age': 29 },
                    { 'id': '4', 'name': 'Delta', 'joinDate': '09/11/2015', 'age': 19 },
                    { 'id': '5', 'name': 'Echo', 'joinDate': '03/09/2014', 'age': 32 }
                ]
            } ]);
    </script>

    <style>
        div, input{
            font:15px Tahoma;
            margin:10px;
        }
        input {
            padding:5px 7px;
        }
        table, th, td {
            border:solid 1px #CCC;
            padding:1px 3px;
            font:15px Tahoma;
        }
        th {
            font-weight:bold;
        }
    </style>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myController">
        <input type="text" ng-model="search" placeholder="Search here by age.."/>
  <table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Join Date</th>
    </thead>
    <tbody>
        <!-- <tr ngRepeat="name in names | filter : searchText"></tr> -->
        <tr ng-repeat="name in names | filter:{'age' : search}">
        <td>{{name.id}}</td>
        <td>{{name.name}}</td>
        <td>{{name.age}}</td>
        <td>{{name.joinDate}}</td>
         
           
    </tbody>
  </table>
</div>
</body>
</html>